@inject HttpClient _vehicleClient

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-8">
            <div class="card">
                <div class="card-body">


                    <EditForm Model="@vehicle" OnValidSubmit="OnValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <fieldset disabled="@IsDisabled">
                            @if (IsDisabled)
                            {
                                <div class="form-group">
                                    <label>Image (Optional):</label>
                                    <div>
                                        <img src="@vehicle.imageName" class="img-thumbnail" style="width:150px; height:150px" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label>Image (Optional):</label>
                                    <div>
                                        <InputFile OnChange="HandleFileSelection" />
                                        <p class="text-danger">@UploadFileWarning</p>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label>Brand : </label>
                                <div>
                                    <select @bind="vehicle.BrandId" class="form-control">
                                        <option value="">--Select--</option>
                                        @if (brands != null)
                                        {
                                            @foreach (var item in brands)
                                            {
                                                <option value="@item.Id">@item.BrandName</option>
                                            }
                                        }
                                    </select>
                                    <ValidationMessage For="@(()=>vehicle.BrandId)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Model : </label>
                                <div>
                                    <select @bind="vehicle.ModelId" class="form-control">
                                        <option value="">--Select--</option>
                                        @if (models != null)
                                        {
                                            @foreach (var item in models)
                                            {
                                                <option value="@item.Id">@item.ModelName</option>
                                            }
                                        }
                                    </select>
                                    <ValidationMessage For="@(()=>vehicle.ModelId)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Colors : </label>
                                <div>
                                    <select @bind="vehicle.ColourId" class="form-control">
                                        <option value="">--Select--</option>
                                        @if (vehicolors != null)
                                        {
                                            @foreach (var item in vehicolors)
                                            {
                                                <option value="@item.Id">@item.Color</option>
                                            }
                                        }
                                    </select>
                                    <ValidationMessage For="@(()=>vehicle.ModelId)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Year : </label>
                                <div>
                                    <InputNumber @bind-Value="@vehicle.Year" class="form-control"></InputNumber>
                                    <ValidationMessage For="@(()=>vehicle.Year)" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label>License Plate Number : </label>
                                <div>
                                    <InputText @bind-Value="@vehicle.LicensePlateNumber" class="form-control"></InputText>
                                    <ValidationMessage For="@(()=>vehicle.LicensePlateNumber)" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Vehicle Identification Number : </label>
                                <div>
                                    <InputText @bind-Value="@vehicle.Vin" class="form-control"></InputText>
                                    <ValidationMessage For="@(()=>vehicle.Vin)" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Daily Rate : </label>
                                <div>
                                    <InputNumber @bind-Value="@vehicle.RentalRate" class="form-control"></InputNumber>
                                    <ValidationMessage For="@(()=>vehicle.RentalRate)" />
                                </div>

                            </div>
                        </fieldset>
                        @if (!IsDisabled)
                        {
                            <div>
                                <button type="submit" class="btn btn-success btn-block">
                                    @ButtonText
                                </button>
                            </div>
                        }

                        <div>
                            <BackToList Target="vehicles" />
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsDisabled { get; set; } = false;
    [Parameter] public Vehicle vehicle { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public string ButtonText { get; set; }

    private List<Brand> brands;
    private List<VehicleModel> models;
    private List<VehicleColor> vehicolors;
    string UploadFileWarning;

    protected async override Task OnInitializedAsync()
    {
        brands = await _vehicleClient.GetFromJsonAsync<List<Brand>>($"{EndPoints.BrandEndPoints}");// ("api/Brands");
        models = await _vehicleClient.GetFromJsonAsync<List<VehicleModel>>($"{EndPoints.VehicleModelsEndPoints}");// ("api/Brands");
        vehicolors = await _vehicleClient.GetFromJsonAsync<List<VehicleColor>>($"{EndPoints.VehicleColorEndPoint}");// ("api/Brands");
    }
    private async void HandleFileSelection(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            var ext = System.IO.Path.GetExtension(file.Name);
            if (ext.ToLower().Contains("jpg")
                || ext.ToLower().Contains("png")
                || ext.ToLower().Contains("jpeg"))
            {
                var picId = Guid.NewGuid().ToString().Replace("-", "");
                vehicle.imageName = $"{picId}{ext}";
                vehicle.image = new byte[file.Size];
                await file.OpenReadStream().ReadAsync(vehicle.image);
                UploadFileWarning = string.Empty;
            }
            else
            {
                UploadFileWarning = "Please select a valid image file (*.jpg | *.png)";
            }
        }
    }
}
